.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.board {
	width: fit-content;
	border: 3px solid var(--board-border, black);
	border-radius: 5px;
	margin: -5px auto 0 auto;
	box-shadow: rgba(100, 100, 100, 0.5) 0px 0px 100px;
}

.board-tools {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 10px;
	align-items: center;
}

.board-tools .button {
	width: fit-content;
}

.hint-btn {
	position: relative;
}

.hint-btn::after {
	content: attr(prefix);
	position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    background: red;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.hide-btn {
	display: none;
}

.button:disabled {
	background-color: var(--main-color);
	opacity: 0.5;
	cursor: not-allowed;
}

.upload-btn {
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 7px;
}

.time {
	border-bottom: 3px solid var(--board-border, black);
    width: 100%;
    display: grid;
    place-items: center;
}

@media (max-width: 767px) {
	.container {
		margin-top: -80px;
	}

	.board {
		margin: 60px auto 0 auto;
	}

	.board .cell {
		width: 35px;
		height: 35px;
	}

	.board-tools button {
		font-size: 16px;
	}

	.congrat-icon {
		display: none;
	}
}

.toast-error .Toastify__toast-body, .toast-error .Toastify__toast-icon{
	color: red;
}

.toast-error .Toastify__progress-bar--wrp {
	background-color: red;
}

.toast-info .Toastify__toast-body, .toast-info .Toastify__toast-icon {
	color: var(--main-color);
}

.toast-info .Toastify__progress-bar--wrp {
	background-color: var(--main-color);
}

.toast-info .Toastify__progress-bar--info {
	background-color: white;
}